{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Social Network{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/vendor/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container col-md-8 col-sm-12">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link username" href="{% url 'profile' user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="body container col-md-8 col-sm-12">
        <div class="row">
            <div class="col-md-4 body-form ml-auto mr-auto">{% block body_form %}{% endblock %}</div>
        </div>
        <div class="row">
            <div class="col-md-4 body-menu py-3 d-md-block d-sm-none d-xs-none">{% block body_menu %}{% endblock %}</div>
            <div class="col-md-8 body-content py-3">{% block body_content %}{% endblock %}</div>
        </div>
    </div>

    <script src="{% static 'network/script.js' %}"></script>
    {% block script %}{% endblock script %}
</body>

</html>