{% extends "network/layout.html" %}

{% block body_form %}

        <h2 class="text-center mt-5">Login</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post" class="my-4">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Login">
        </form>
        <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>

{% endblock %}